:root {
    --breadcrumbspress-base-font-size: #{$base-font-size};
    --breadcrumbspress-base-line-height: #{$base-line-height};
    --breadcrumbspress-base-crumb-margin: #{$base-crumb-margin};
    --breadcrumbspress-base-block-align: #{$base-block-align};
    --breadcrumbspress-base-link-decoration: #{$base-link-decoration};
    --breadcrumbspress-base-wrapper-padding: #{$base-wrapper-padding};
}
