// Global //
$prefix: "breadcrumbspress";

// Font //
$font-name: "breadcrumbspress";
$font-version: "2.2";
$font-prefix: "breadcrumbspress";
$font-prefix-ctrl: "breadcrumbspress-icon";
$font-size: 14px;

// Base //
$base-font-size: 14px !default;
$base-line-height: 20px !default;
$base-crumb-margin: .75em !default;
$base-block-align: inital !default;
$base-link-decoration: none !default;
$base-wrapper-padding: 20px !default;
